@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    overflow-x: hidden;
}

:root{
    --primer-color: black;
    --segundo-color: white;
    --tercer-color: #fbc827;
    /*Tipografia*/
    --tipografia-principal:"Montserrat", sans-serif;
}
.logo{
    width: 175px;
    margin-left: 30px;
}
.navbar{
    background-color: var(--primer-color);
    font-family: var(--tipografia-principal);
    font-weight: 500;
    font-size: 0.9rem;
}
.color{
    background-color: var(--tercer-color);
    margin: solid;
}

.img {
    width: 100%;
    height: 450px;
    object-fit: cover;
}
.cardPrincipal{
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease;
    cursor: pointer;
}
.cardOverlay{
    background: -moz-linear-gradient();
    transform: scale(1);
    transition: all 0.3s ease;
}
.cardPrincipal:hover .cardOverlay {
  transform: scale(1);
}
.cardPrincipal:hover img {
  transform: scale(1.05);
  transition: 2.0s ease;
}

.marcas {
    width: 100%;
    height: 410px;
    object-fit: cover;
}


.card {
    margin: 0.5em;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-shadow: 4px 8px 10px 0 rgba(22, 22, 26, 0.18);
}

.img-wrapper img {
    height: 100%;
    width: 100%;
    border-radius: 3px;
    object-fit: cover;
}

.carousel-control-prev , .carousel-control-next {
    background-color: black;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top: 50%;
}

.hover-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.hover-card:hover {
    transform: scale(1.02);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.footer{
    background-color: var(--primer-color);
}
.lineas{
    position: relative;
    color: var(--segundo-color);
    padding-bottom: 2px;
    transition: all 0.3s ease;
}
.lineas:hover{
    color: var(--segundo-color);
}
.lineas::after{
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--segundo-color);
    transition: width 0.3s ease;
}
.lineas:hover::after{
    width: 100%;
}
